//style de ma feuille de style Application pour la page app.
.Application {

    .applicationcontent {
      background: linear-gradient(115deg, $color-1 50%, transparent 100%);
      min-height: $min-height;
      width: 100%;
      min-height: 500px;
      border-radius: $borderRadius;
      position: relative;
      overflow: hidden;
  
      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: inherit;
        background: url('../../media/Moi.jpg') no-repeat center/cover;
        z-index: -1;
        filter: brightness(60%);
      }
  
      .content {
        position: absolute;
        top: 20%;
        left: 13%;
        font-family: $font-1;
  
        h1 {
          font-size: 3rem;
          font-family: $font-3;
          color: $white;
          text-transform: uppercase;
          text-shadow: 3px 6px 2px $black;
        }
        p {
          font-size: 1.5rem;
          padding: 1.5rem 0 7rem;
          color: $white;
          text-shadow: 1px 4px 1px $black;
        }
        .zip {
          a {
            font-size: 1.5rem;
            color: $white;
            background: $color-3;
            padding: 1rem 2rem;
            border-radius: $borderRadius;
            box-shadow: 0 5px 1px rgb(15, 15, 15);
            transition: 0.2s ease;
  
           
          }
        }
      }
    }
  }
  // Affichage de l'ecran de ma page selon une largeur max.
  @media screen and (max-width: 850px){
    .applicationcontent {
      margin: 0 !important;
    }
  }
  @media screen and (max-width:580px){
    .applicationcontent {
      &:after {
      background: url('../../media/Moi.jpg') no-repeat 60% 50%/cover !important;
      }
      h1 {
        font-size: 3rem !important;
      }
    }
  }